<style>
    h1 {
        text-align: center;
    }
    
    .button {
        background-color: #4CAF50;
        /* Green */
        border: none;
        color: white;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
    }
    
    .button1 {
        background-color: white;
        color: black;
        border: 2px solid #0fba00;
        border-radius: 12px;
    }
    
    .button1:hover {
        background-color: #a4ff80;
        color: white;
    }
    
    .column {
        float: left;
        width: 50%;
        padding: 10px;
        height: 90px;
        text-align: center;
        /* Should be removed. Only for demonstration */
    }
    /* Clear floats after the columns */
    
    * {
        box-sizing: border-box;
    }
    
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
</style>


<h1>Welcome To ITC Bank</h1>

<br>
<br>
<br>

<div class="row">
    <div class="column" style="background-color:rgb(129, 246, 197);">
        <button type="button" class="button button1"><a href="{%url 'signup'%}" class="btn btn-primary">signup </a></button>
    </div>
    <div class="column" style="background-color:rgb(202, 251, 138);">
        <button type="button" class="button button1"><a href="{%url 'login'%}" class="btn btn-primary">login </a></button>
    </div>
</div>