<style>
    h1 {
        text-align: center;
    }
    
    h3 {
        text-align: center;
    }
    
    .button {
        background-color: #4CAF50;
        /* Green */
        border: none;
        color: white;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
    }
    
    .button1 {
        background-color: rgb(129, 129, 129);
        color: black;
        border: 2px solid #0fba00;
        border-radius: 12px;
    }
    
    .button1:hover {
        background-color: #5dd32e;
        color: white;
    }
    
    .button2 {
        background-color: rgb(129, 129, 129);
        color: black;
        border: 2px solid #ecc518;
        border-radius: 12px;
    }
    
    .button2:hover {
        background-color: #e2c41d;
        color: white;
    }
    
    .button3 {
        background-color: rgb(129, 129, 129);
        color: black;
        border: 2px solid #f44336;
        border-radius: 12px;
    }
    
    .button3:hover {
        background-color: #f44336;
        color: white;
    }
    
    a {
        color: black;
        font-size: 20px;
    }
    
    * {
        box-sizing: border-box;
    }
    /* Create two equal columns that floats next to each other */
    
    .column {
        float: left;
        width: 50%;
        padding: 10px;
        height: 90px;
        text-align: center;
        /* Should be removed. Only for demonstration */
    }
    /* Clear floats after the columns */
    
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    
    p {
        text-align: center;
    }
</style>

<h1>Welcome {{request.user}}</h1>
<br>
<br>
<br>
<br>
<br>{%if uid is None%}
<button type="button" class="button button1"><a href="{%url 'createprofile'%}">create profile</a> </button>{%else%}
<div class="row">
    <div class="column" style="background-color:rgb(202, 251, 138);">
        <button type="button" class="button button1"><a href="{%url 'updateprofile' uid%}">update profile</a> </button>
        <button type="button" class="button button1"><a href="{%url 'detailprofile' uid%}">profile details</a> </button>
        <button type="button" class="button button1"><a href="{%url 'change_password'%}">change password</a> </button>
        <button type="button" class="button button1"><a href="{% url 'accountdetail' uid%}">account details</a> </button>
    </div>
    <div class="column" style="background-color:rgba(236, 209, 149, 0.931);">
        <button type="button" class="button button2"><a href="{% url 'balance' uid%}">Check balance</a> </button>
        <button type="button" class="button button2"><a href="{% url 'deposit'%}">deposit</a> </button>
        <button type="button" class="button button2"><a href="{% url 'withdraw'%}">withdraw</a> </button>
        <button type="button" class="button button2"><a href="{% url 'transfer'%}">Transfer</a> </button>
    </div>
</div>
<p>
    <button type="button" class="button button3"><a href="{%url 'deleteprofile' uid%}">Delete profile</a> </button> {%endif%}

</p>

<br><br><br>
<button type="button" class="btn btn-primary"><a href="{% url 'signout'%}">signout</a> </button>